// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: 'Manrope';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color
$primary:#0E6600;
$softgreen:#b2e0aa;
$dark:#383838;
$muted:#898989;
$white:#FFFFFF;
$soft:#D9D9D9;
$yellow:#E8C139;
$darkgreen:#0B4502;
